.env
.DS_Store
files/*
!files/.gitkeep
__pycache__
/.idea
.python-version
.streamlit/secrets.toml
.devcontainer
venv/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
